<%= form_tag(restrooms_path, :method => "get", class: "navbar-form", id: "search-form") do %>
  <div class="input-append">
    <%= text_field_tag :address, params[:address], class: "span2", placeholder: "123 Oak St, Anytown, WA" %><br />

    <%= submit_tag "Search for existing restroom", :name => nil %>
  </div>
<% end %>
