var showAddNew = true;

if (showAddNew == true){
  console.log("show add new " + showAddNew);
  <%  if params[:address].present? &&
        Geocoder.search(params[:address])[0].data["geometry"]["location_type"] !=
        "GEOMETRIC_CENTER"
  %>
    $('.alert-danger').remove();

    console.log("yes search...");
    <% @search_coordinates = Geocoder.coordinates(params[:address]) %>
    <% if params[:male_or_female].present? %>
      <% @restrooms = Restroom.near(params[:address], 60, :order => :distance).where(:malefemale => params[:male_or_female]).limit(5) %>
    <% else %>
      <% @restrooms = Restroom.near(params[:address], 60, :order => :distance).limit(5) %>
    <% end %>

    if ($('#restroom_results').length == 0){
      $('.container').append("<%= j render 'search_results_for_new' %>");
    } else {
      $('#restroom_results').remove();
      $('.container').append("<%= j render 'search_results_for_new' %>");
    }

    window.drawTheMap();
    $('.input-append input :first').after($("#new_rr_search"));
    $("#new_rr_search").val("Update address").removeClass("btn-success");
    $("#after_search").show();

    $("#add_new").show().animate({
      opacity: 1,
      "margin-left":"12px"
    }, 'fast' );

    showAddNew = false;

  <%  elsif params[:address].present? &&
        Geocoder.search(params[:address])[0].data["geometry"]["location_type"] ==
        "GEOMETRIC_CENTER"
  %>
    console.log("GEO center");
    $('#prelim_search').prepend('<div class="alert alert-danger alert-dismissable" data-dismiss="alert" style="width:50%"><strong>Location:</strong> Please enter more specific location.</div>');
  <% end %>
};

$("#add_new").on("click", function(){
  $("#add_new").remove();
  console.log("clicked!!");
  $("#after_search").remove();
  $("#addRestroomForm").show();
  $(".anim-item").animate({
      opacity: 1,
      "margin-left":"0px"
    }, 'slow' );
  console.log($("#newrr_search").val());
  $("#restroom_location").val($("#newrr_search").val());

  if ($('#male_or_female_male').is(':checked')) {
    $('#restroom_malefemale_male').prop('checked',true);
  } else {
    $('#restroom_malefemale_female').prop('checked',true);
  }
  $("#prelim_search").hide();
})
