<h1>Add new restroom</h1>

First, please enter the address of the restroom you would like to add.
<br />
If it is in the TopPotty database already, you can add your contribution.
<br />
If it's unknown to TopPotty, you will be able to add the restroom and
<br />
all of its information. <br />
<br />
<%= render "searchbox" %>
<br />
<%= link_to 'Back', restrooms_path %>
