</br>
<%= form_for([@restroom, @cleanlinessrating]) do |f| %>
  <div class="field">
    <strong>Rate:</strong><br />
    1 (dirty) to <br />
    10 (clean):<br />
    <%= f.select(:cleanlinessrating, 1..10, :selected => 5) %>
  </div>
  <div class="actions">
    <%= f.submit 'Rate', class: "btn btn-primary btn-sm" %>
  </div>
<% end %>


