body {
	margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
}

.full {
}

.img-low-margin {
  margin-top: -35px;
  margin-bottom: -30px;
}
.btn-low-margin {
  margin-top: -5px;
  margin-bottom: -5px;
}
